{%extends 'base.html'%}

 {% block title  %}
        students page
 {% endblock %}
{% block content %}
    <div>
        <h1 class="text-info text-center my-5">
        POst details
    </h1>
            <div class=" shadow-sm p-3 mb-5 bg-body-tertiary rounded position-relative w-50  m-auto ">
                <h3 class="text-primary"> {{post.title}}</h3>
                 <div class="position-absolute top-0 end-0  ">
                     <a href="{{ url_for("post_delete",id=post.id) }}" class="btn btn-light rounded-circle" >X</a>
                 </div>
                <img class="img-fluid" src="{{url_for('static',filename='images/pexels-eric-mufasa-1350789_6w5liBR.jpg')}}" />
                <img src="{{url_for('static',filename='images/{{post.image}}')}}" />
                <p class="text-secondary my-3 shadow-sm bg-body-tertiary">{{post.body}}</p>
            </div>
    </div>
{% endblock %}

